<div class="row">
  <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered column clearfix">
    <footer class="text-center"><%= Time.current.year %> ©</footer>
  </div>
</div>
