html, body {
  font-size: 16px;
}

footer {
  font-size: 0.75rem;
  margin-bottom: 3em;
}

table {
  width: 100%;
}

#authentication_form {
  margin-top: 5%;
}

#authentication_links li {
  font-size: 0.8rem;
}

.alert-box {
  p {
    font-size: 0.8rem;
    margin: 0;
  }
  ul {
     margin-top: 5px;
     margin-bottom: 5px;
  }
  li {
    font-size: 0.8rem;
  }
}
